<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Transaksi</title>
</head>

<body>
    <h1>Daftar Transaksi</h1>
    <table border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tanggal</th>
                <th>Nama Pembeli</th>
                <th>Jumlah</th>
                <th>Total Harga</th>
                <th>Invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.created_date }}</td>
                <td>{{ sale.buyer.name }}</td>
                <td>{{ sale.total_weight }}</td>
                <td>{{ sale.total_price }}</td>
                <td>
                    <button onclick="generateInvoice(this)" data-row="{{ loop.index }}">Lihat Invoice</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function generateInvoice(button) {
            const rowNumber = button.getAttribute('data-row');
            const table = document.querySelector('table');
            const rows = table.querySelectorAll('tr');

            // Extract data from the selected row based on the rowNumber
            const selectedRow = rows[rowNumber];
            const rowData = [];
            selectedRow.querySelectorAll('td').forEach((cell) => {
                rowData.push(cell.textContent);
            });

            // Create a JSON object with the row data
            const jsonData = {
                no: rowData[0],
                tanggal: rowData[1],
                nama_pembeli: rowData[2],
                jumlah: rowData[3],
                total_harga: rowData[4],
            };

            const sale_data = {
                "no": jsonData.no,
                "tanggal": new Date(jsonData.tanggal).toLocaleString('id-ID', {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                }),
                "nama_pembeli": jsonData.nama_pembeli,
                "jumlah": jsonData.jumlah,
                "total_harga": jsonData.total_harga,
            };


            // Send the JSON data to the server using AJAX
            fetch('http://0.0.0.0:8080/generate_invoice', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
            })
                .then((response) => response.blob())
                .then((blob) => {
                    // Create a URL for the PDF blob
                    const url = URL.createObjectURL(blob);

                    // Open the PDF in a new tab
                    window.open(url, '_blank');
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>